<a href="https://colab.research.google.com/github/MargaridaVitolo/Educ360/blob/main/Semana7_Margarida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Etapa 1**

**Import**

In [2]:
import sqlite3

**Conexão e Criação do banco**

In [3]:
conn = sqlite3.connect('banco.db')
try:
  cursor = conn.cursor()
  print("Conexão com o banco de dados bem sucedida!")
except sqlite3.Error as e:
  print(f"Erro ao conectar ao banco de dados: {e}")

Conexão com o banco de dados bem sucedida!

**Criação das tabelas**

In [4]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()

# Drop tables if they exist
cursor.execute("DROP TABLE IF EXISTS vendas")
cursor.execute("DROP TABLE IF EXISTS produtos")


# Create the 'produtos' table
cursor.execute("""
CREATE TABLE produtos (
    id_produto INTEGER PRIMARY KEY,
    nome_produto TEXT,
    categoria TEXT,
    preco_unitario FLOAT
)
""")

# Create the 'vendas' table
cursor.execute("""
CREATE TABLE vendas (
    id_venda INTEGER PRIMARY KEY,
    id_produto INTEGER,
    quantidade INTEGER,
    data_venda DATE,
    desconto FLOAT,
    FOREIGN KEY (id_produto) REFERENCES produtos(id_produto)
)
""")

conn.commit()
conn.close()

**Insert PRODUTOS**

In [5]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()

dados = [
(1, 'Notebook Dell', 'Informática', 3500.00),
(2, 'Mouse Logitech', 'Acessórios', 120.00),
(3, 'Monitor LG 24"', 'Informática', 950.00),
(4, 'Teclado Mecânico', 'Acessórios', 420.00),
(5, 'Headset Gamer', 'Acessórios', 480.00),
(6, 'Impressora HP', 'Periféricos', 800.00),
(7, 'Smartphone Samsung', 'Telefonia', 2900.00),
(8, 'Cabo HDMI 2m', 'Acessórios', 40.00),
(9, 'Webcam Logitech', 'Acessórios', 310.00),
(10, 'Roteador TP-Link', 'Redes', 250.00),
(11, 'SSD Kingston 480GB', 'Armazenamento', 380.00),
(12, 'HD Externo 1TB', 'Armazenamento', 420.00),
(13, 'Tablet Lenovo', 'Informática', 1300.00),
(14, 'Monitor Samsung 27"', 'Informática', None),
(15, 'Caixa de Som JBL', None, 550.00)
]

ins_query = "insert into produtos values (?,?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()
conn.close()

**Insert Vendas**

In [6]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()

dados = [
(1, 1, 3, '2025-10-01', 50.00),
(2, 2, 5, '2025-10-02', 0.00),
(3, 3, 2, '2025-10-03', None),
(4, 4, 1, '2025-10-04', 20.00),
(5, 5, 4, '2025-10-05', 15.00),
(6, 6, 2, '2025-10-06', 0.00),
(7, 7, 1, '2025-10-07', 200.00),
(8, 8, 10, '2025-10-08', None),
(9, 9, 3, '2025-10-09', 30.00),
(10, 10, 2, '2025-10-10', 10.00),
(11, 11, 5, '2025-10-11', 0.00),
(12, 12, 3, '2025-10-12', 25.00),
(13, 13, 1, '2025-10-13', 0.00),
(14, 14, 2, '2025-10-14', 50.00),
(15, 15, 6, '2025-10-15', None),
(16, 1, 1, '2025-10-16', 0.00),
(17, 3, 4, '2025-10-17', 30.00),
(18, 5, 2, '2025-10-18', None),
(19, 7, 2, '2025-10-19', 150.00),
(20, 8, None, '2025-10-20', 0.00),
(21, 9, 1, '2025-10-21', None),
(22, 10, 3, '2025-10-22', 0.00),
(23, 11, None, '2025-10-23', 20.00),
(24, 12, 2, '2025-10-24', 0.00),
(25, 13, 1, '2025-10-25', 10.00),
(26, 14, None, '2025-10-26', None),
(27, 15, 5, '2025-10-27', 0.00),
(28, None, 2, '2025-10-28', 0.00),
(29, 6, 1, '2025-10-29', 0.00),
(30, 2, 4, '2025-10-30', 10.00)
]

ins_query = "insert into vendas values (?,?,?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()
conn.close()

**Validação Produtos e Vendas**

In [7]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()
sel_prod = "select * from produtos"
cursor.execute(sel_prod)
produtos = cursor.fetchall()
sel_vend = "select * from vendas"
cursor.execute(sel_vend)
vendas = cursor.fetchall()
print("-" * 50)
print("PRODUTOS")
print("-" * 50)
for linha in produtos:
    print(linha)
print("-" * 50)
print("VENDAS")
print("-" * 50)
for linha in vendas:
    print(linha)

--------------------------------------------------
PRODUTOS
--------------------------------------------------
(1, 'Notebook Dell', 'Informática', 3500.0)
(2, 'Mouse Logitech', 'Acessórios', 120.0)
(3, 'Monitor LG 24"', 'Informática', 950.0)
(4, 'Teclado Mecânico', 'Acessórios', 420.0)
(5, 'Headset Gamer', 'Acessórios', 480.0)
(6, 'Impressora HP', 'Periféricos', 800.0)
(7, 'Smartphone Samsung', 'Telefonia', 2900.0)
(8, 'Cabo HDMI 2m', 'Acessórios', 40.0)
(9, 'Webcam Logitech', 'Acessórios', 310.0)
(10, 'Roteador TP-Link', 'Redes', 250.0)
(11, 'SSD Kingston 480GB', 'Armazenamento', 380.0)
(12, 'HD Externo 1TB', 'Armazenamento', 420.0)
(13, 'Tablet Lenovo', 'Informática', 1300.0)
(14, 'Monitor Samsung 27"', 'Informática', None)
(15, 'Caixa de Som JBL', None, 550.0)
--------------------------------------------------
VENDAS
--------------------------------------------------
(1, 1, 3, '2025-10-01', 50.0)
(2, 2, 5, '2025-10-02', 0.0)
(3, 3, 2, '2025-10-03', None)
(4, 4, 1, '2025-10-04', 20.0)
(5, 5, 4, '2025-10-05', 15.0)
(6, 6, 2, '2025-10-06', 0.0)
(7, 7, 1, '2025-10-07', 200.0)
(8, 8, 10, '2025-10-08', None)
(9, 9, 3, '2025-10-09', 30.0)
(10, 10, 2, '2025-10-10', 10.0)
(11, 11, 5, '2025-10-11', 0.0)
(12, 12, 3, '2025-10-12', 25.0)
(13, 13, 1, '2025-10-13', 0.0)
(14, 14, 2, '2025-10-14', 50.0)
(15, 15, 6, '2025-10-15', None)
(16, 1, 1, '2025-10-16', 0.0)
(17, 3, 4, '2025-10-17', 30.0)
(18, 5, 2, '2025-10-18', None)
(19, 7, 2, '2025-10-19', 150.0)
(20, 8, None, '2025-10-20', 0.0)
(21, 9, 1, '2025-10-21', None)
(22, 10, 3, '2025-10-22', 0.0)
(23, 11, None, '2025-10-23', 20.0)
(24, 12, 2, '2025-10-24', 0.0)
(25, 13, 1, '2025-10-25', 10.0)
(26, 14, None, '2025-10-26', None)
(27, 15, 5, '2025-10-27', 0.0)
(28, None, 2, '2025-10-28', 0.0)
(29, 6, 1, '2025-10-29', 0.0)
(30, 2, 4, '2025-10-30', 10.0)

**Verificação com o pandas**

Tipos de dados:
id_venda        int64
id_produto    float64
quantidade    float64
data_venda     object
desconto      float64
dtype: object

Quantidade de registros:
30

Quantidade de registros nulos:
id_venda      0
id_produto    1
quantidade    3
data_venda    0
desconto      6
dtype: int64

##**Etapa 2**

In [ ]:
query = "select v.data_venda, v.quantidade,  v.desconto,"
query = query + "p.nome_produto, p.categoria, p.preco_unitario  from vendas v join produtos p ON v.id_produto = p.id_produto"
cursor.execute(query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

In [24]:
query = """SELECT v.data_venda,
                  v.quantidade,
                  v.desconto,
                  p.nome_produto,
                  p.categoria,
                  p.preco_unitario,
                  ((COALESCE(v.quantidade,0)*COALESCE(p.preco_unitario,0))-COALESCE(v.desconto,0)) valor_total
           FROM vendas v
           JOIN produtos p ON v.id_produto = p.id_produto
           ORDER BY v.id_venda
      """
cursor.execute(query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

('2025-10-01', 3, 50.0, 'Notebook Dell', 'Informática', 3500.0, 10450.0)
('2025-10-02', 5, 0.0, 'Mouse Logitech', 'Acessórios', 120.0, 600.0)
('2025-10-03', 2, None, 'Monitor LG 24"', 'Informática', 950.0, 1900.0)
('2025-10-04', 1, 20.0, 'Teclado Mecânico', 'Acessórios', 420.0, 400.0)
('2025-10-05', 4, 15.0, 'Headset Gamer', 'Acessórios', 480.0, 1905.0)
('2025-10-06', 2, 0.0, 'Impressora HP', 'Periféricos', 800.0, 1600.0)
('2025-10-07', 1, 200.0, 'Smartphone Samsung', 'Telefonia', 2900.0, 2700.0)
('2025-10-08', 10, None, 'Cabo HDMI 2m', 'Acessórios', 40.0, 400.0)
('2025-10-09', 3, 30.0, 'Webcam Logitech', 'Acessórios', 310.0, 900.0)
('2025-10-10', 2, 10.0, 'Roteador TP-Link', 'Redes', 250.0, 490.0)
('2025-10-11', 5, 0.0, 'SSD Kingston 480GB', 'Armazenamento', 380.0, 1900.0)
('2025-10-12', 3, 25.0, 'HD Externo 1TB', 'Armazenamento', 420.0, 1235.0)
('2025-10-13', 1, 0.0, 'Tablet Lenovo', 'Informática', 1300.0, 1300.0)
('2025-10-14', 2, 50.0, 'Monitor Samsung 27"', 'Informática', None, -50.0)
('2025-10-15', 6, None, 'Caixa de Som JBL', None, 550.0, 3300.0)
('2025-10-16', 1, 0.0, 'Notebook Dell', 'Informática', 3500.0, 3500.0)
('2025-10-17', 4, 30.0, 'Monitor LG 24"', 'Informática', 950.0, 3770.0)
('2025-10-18', 2, None, 'Headset Gamer', 'Acessórios', 480.0, 960.0)
('2025-10-19', 2, 150.0, 'Smartphone Samsung', 'Telefonia', 2900.0, 5650.0)
('2025-10-20', None, 0.0, 'Cabo HDMI 2m', 'Acessórios', 40.0, 0.0)
('2025-10-21', 1, None, 'Webcam Logitech', 'Acessórios', 310.0, 310.0)
('2025-10-22', 3, 0.0, 'Roteador TP-Link', 'Redes', 250.0, 750.0)
('2025-10-23', None, 20.0, 'SSD Kingston 480GB', 'Armazenamento', 380.0, -20.0)
('2025-10-24', 2, 0.0, 'HD Externo 1TB', 'Armazenamento', 420.0, 840.0)
('2025-10-25', 1, 10.0, 'Tablet Lenovo', 'Informática', 1300.0, 1290.0)
('2025-10-26', None, None, 'Monitor Samsung 27"', 'Informática', None, 0)
('2025-10-27', 5, 0.0, 'Caixa de Som JBL', None, 550.0, 2750.0)
('2025-10-29', 1, 0.0, 'Impressora HP', 'Periféricos', 800.0, 800.0)
('2025-10-30', 4, 10.0, 'Mouse Logitech', 'Acessórios', 120.0, 470.0)

##**Etapa 3**

In [17]:
import pandas as pd

In [ ]:
query = """SELECT v.data_venda,
                  v.quantidade,
                  v.desconto,
                  p.nome_produto,
                  p.categoria,
                  p.preco_unitario,
                  ((COALESCE(v.quantidade,0)*COALESCE(p.preco_unitario,0))-COALESCE(v.desconto,0)) valor_total
           FROM vendas v
           JOIN produtos p ON v.id_produto = p.id_produto
           ORDER BY v.id_venda
      """

df_resultado = pd.read_sql_query(query, conn)
print("\nConsulta com valor_total calculado:")
print(df_resultado.head(10))  # mostrar os 10 primeiros registros

##**Etapa 4**

In [21]:
#Tipos dados
print("Tipos de dados:")
print(df_resultado.dtypes)
#Quantidade de registros
print("\nQuantidade de registros:")
print(len(df_resultado))
#Quantidade de registros nulos
print("\nQuantidade de registros nulos:")
print(df_resultado.isnull().sum())

Tipos de dados:
data_venda         object
quantidade        float64
desconto          float64
nome_produto       object
categoria          object
preco_unitario    float64
valor_total       float64
dtype: object

Quantidade de registros:
29

Quantidade de registros nulos:
data_venda        0
quantidade        3
desconto          6
nome_produto      0
categoria         2
preco_unitario    2
valor_total       0
dtype: int64

In [ ]:
#troca do tipo da quantidade para inteiro e colocando o valor como 0 estes campos serão desconsiderados no proximo passo
df_resultado['quantidade'] = df_resultado['quantidade'].fillna(0).astype(int)
#preencher com 0 os campos de desconto que estejam nulo
df_resultado['desconto'] = df_resultado['desconto'].fillna(0)
#colocar a categoria como "Não informada"
df_resultado['categoria'] = df_resultado['categoria'].fillna('Não Informado')
#preencher com 0 os campos de preco_unitario que estejam nulo -  estes campos serão desconsiderados no proximo passo
df_resultado['preco_unitario'] = df_resultado['preco_unitario'].fillna(0)
df_resultado

In [ ]:
df = df_resultado.query('valor_total > 0')
df

##**Etapa 5**

In [66]:
print("\n\033[31mAnálise e Indicadores:\033[0m")
print("=" * 80)
# Total de vendas (quantidade e valor financeiro)
print("\n\033[34mTotal de vendas(qtd):\t\tTotal de Vendas (R$)\033[0m\n")
total_vendas = df['quantidade'].sum()
total_vl_finc = df['valor_total'].sum()
print(f"{total_vendas}\t\t\t\t{total_vl_finc:,.2f}")
print("-" * 80)
# Faturamento médio por categoria
fat_cat = df.groupby('categoria')['valor_total'].mean()
print("\n\033[34mFaturamento médio por categoria:\033[0m\n")
fat_cat_formatted = fat_cat.apply(lambda x: f'{x:,.2f}')
fat_cat_formatted.index.name = None
print(fat_cat_formatted.to_string())
print("-" * 80)

# Produtos mais vendidos
top_prod = df.groupby('nome_produto')['quantidade'].sum().sort_values(ascending=False)
print("\n\033[34mProdutos mais vendidos (Top 5):\033[0m\n")
top_prod_formatted = top_prod
top_prod_formatted.index.name = None
print(top_prod_formatted.head(5).to_string())
print("-" * 80)

# Dias com maior volume de vendas
top_dia = df.groupby('data_venda')['quantidade'].sum().sort_values(ascending=False)
print("\n\033[34mDias com maior volume de vendas (Top 5):\033[0m\n")
print(top_dia.head(5).to_string())
print("-" * 80)

# Categoria mais vendida
top_cat = df.groupby('categoria')['quantidade'].sum().sort_values(ascending=False)
print("\n\033[34mCategoria mais vendida:\033[0m\n")
print(top_cat.to_string())
print("-" * 80)

# Produto com maior desconto
top_desc = df.groupby('nome_produto')['desconto'].sum().sort_values(ascending=False)
print("\n\033[34mProduto com maior desconto (Top 5):\033[0m\n")
print(top_desc.head(5).to_string())
print("=" * 80)

Análise e Indicadores:
================================================================================

Total de vendas(qtd):		Total de Vendas (R$)

74				50,170.00
--------------------------------------------------------------------------------

Faturamento médio por categoria:

Acessórios         743.12
Armazenamento    1,325.00
Informática      3,701.67
Não Informado    3,025.00
Periféricos      1,200.00
Redes              620.00
Telefonia        4,175.00
--------------------------------------------------------------------------------

Produtos mais vendidos (Top 5):

Caixa de Som JBL    11
Cabo HDMI 2m        10
Mouse Logitech       9
Headset Gamer        6
Monitor LG 24"       6
--------------------------------------------------------------------------------

Dias com maior volume de vendas (Top 5):

data_venda
2025-10-08    10
2025-10-15     6
2025-10-02     5
2025-10-11     5
2025-10-27     5
--------------------------------------------------------------------------------

Categoria mais vendida:

categoria
Acessórios       30
Informática      12
Não Informado    11
Armazenamento    10
Redes             5
Periféricos       3
Telefonia         3
--------------------------------------------------------------------------------

Produto com maior desconto (Top 5):

nome_produto
Smartphone Samsung    350.0
Notebook Dell          50.0
Monitor LG 24"         30.0
Webcam Logitech        30.0
HD Externo 1TB         25.0
================================================================================