<a href="https://colab.research.google.com/github/MargaridaVitolo/Educ360/blob/main/SqLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import**

In [4]:
import sqlite3

**Conexão**

In [33]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()
# fazer try catch para validar a conexão

**Create Table**

In [34]:
query = "create table inscricoes (nome TEXT NOT NULL, email TEXT NOT NULL, curso TEXT NOT NULL, idade INT)"
cursor.execute(query)

**Select**

In [40]:
sel_query = "select * from inscricoes"
cursor.execute(sel_query)
for linha in cursor:
    print(linha)

('Ivan', 'ivan@gmail.com.br', 'Java', 50)
('Ivan', 'ivan@gmail.com.br', 'Java', 50)
('Denise', 'denise@gmail.com', 'Java', 45)
('Carlos', 'carlos@gmail.com', 'Python', 35)
('Joana', 'joana@gmail.com', 'Java', 24)
('Silvio', 'silvio@gmail.com', 'Dados', 67)
('Denise', ' denise@gmail.com', 'Java', 45)
('Carlos', ' carlos@gmail.com', 'Python', 35)
('Joana', ' joana@gmail.com', 'Java', 24)
('Silvio', ' silvio@gmail.com', 'Dados', 67)

**Insert**

In [37]:
ins_query = "insert into inscricoes values ('Ivan', 'ivan@gmail.com.br','Java', 50)"
#ins_query = "insert into inscricoes (nome, email, curso) values ('Ivan', 'ivan@gmail.com.br','Java')
cursor.execute(ins_query)
# rollback
conn.commit()

**Insert via lista**

In [38]:
dados = [
    ('Denise', 'denise@gmail.com','Java',45),
    ('Carlos', 'carlos@gmail.com','Python',35),
    ('Joana', 'joana@gmail.com','Java',24),
    ('Silvio', 'silvio@gmail.com','Dados',67)
]

ins_query = "insert into inscricoes values (?,?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()
#

**Insert via arquivo**

In [39]:
arquivo = "dados.txt"
for linhas in open(arquivo,'r'):
    registro = linhas.split(',')
    print(registro)
    ins_query = "insert into inscricoes values (?,?,?,?)"
    cursor.execute(ins_query, registro)
conn.commit()

['Denise', ' denise@gmail.com', 'Java', '45\n']
['Carlos', ' carlos@gmail.com', 'Python', '35\n']
['Joana', ' joana@gmail.com', 'Java', '24\n']
['Silvio', ' silvio@gmail.com', 'Dados', '67\n']