<a href="https://colab.research.google.com/github/MargaridaVitolo/Educ360/blob/main/SqLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import**

In [1]:
import sqlite3

**Conexão**

In [2]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()
# fazer try catch para validar a conexão

**Create Table**

In [3]:
query = "create table inscricoes (nome TEXT NOT NULL, email TEXT NOT NULL, curso TEXT NOT NULL, idade INT)"
cursor.execute(query)

**Select**

In [8]:
sel_query = "select * from inscricoes"
cursor.execute(sel_query)
for linha in cursor:
    print(linha)

('Ivan', 'ivan@gmail.com.br', 'Java', 50)
('Denise', 'denise@gmail.com', 'Java', 45)
('Carlos', 'carlos@gmail.com', 'Python', 35)
('Joana', 'joana@gmail.com', 'Java', 24)
('Silvio', 'silvio@gmail.com', 'Dados', 67)

**Insert**

In [5]:
ins_query = "insert into inscricoes values ('Ivan', 'ivan@gmail.com.br','Java', 50)"
#ins_query = "insert into inscricoes (nome, email, curso) values ('Ivan', 'ivan@gmail.com.br','Java')
cursor.execute(ins_query)
# rollback
conn.commit()

**Insert via lista**

In [6]:
dados = [
    ('Denise', 'denise@gmail.com','Java',45),
    ('Carlos', 'carlos@gmail.com','Python',35),
    ('Joana', 'joana@gmail.com','Java',24),
    ('Silvio', 'silvio@gmail.com','Dados',67)
]

ins_query = "insert into inscricoes values (?,?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()
#

**Insert via arquivo**

In [7]:
arquivo = "dados.txt"
for linhas in open(arquivo,'r'):
    registro = linhas.split(',')
    #print(registro)
    ins_query = "insert into inscricoes values (?,?,?,?)"
    cursor.execute(ins_query, registro)
conn.commit()

FileNotFoundError: [Errno 2] No such file or directory: 'dados.txt'

**Exclusão**

In [41]:
del_query = "delete from inscricoes"
cursor.execute(del_query)
conn.commit()

**Update**

In [47]:
upd_query = "update inscricoes set curso = 'Dados' where email = 'carlos@gmail.com'"
cursor.execute(upd_query)
conn.commit()
#

**SELECT COM MAIS RECURSOS**

In [ ]:
sel_query1 = "select * from inscricoes"
sel_query2 = "select nome, email, curso from inscricoes where curso = 'Java' or idade > 40"
cursor.execute(sel_query2)
for linha in cursor:
    print(linha)

In [17]:
sel_query1 = "select * from inscricoes"
cursor.execute(sel_query2)
#dados = cursor.fetchall() ##todos
#dados = cursor.fetchone() ##somente 1 por vez
dados = cursor.fetchmany(3) ##quantidade
for linha in dados:
    print(linha)

('Ivan', 'ivan@gmail.com.br', 'Java')
('Denise', 'denise@gmail.com', 'Java')
('Joana', 'joana@gmail.com', 'Java')