<a href="https://colab.research.google.com/github/MargaridaVitolo/Educ360/blob/main/SqLite3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import**

In [1]:
import sqlite3

**Conexão**

In [2]:
conn = sqlite3.connect('banco.db')
cursor = conn.cursor()
# fazer try catch para validar a conexão

**Create Table**

In [3]:
query = "create table inscricoes (nome TEXT NOT NULL, email TEXT NOT NULL, curso TEXT NOT NULL, idade INT)"
cursor.execute(query)

**Select**

In [8]:
sel_query = "select * from inscricoes"
cursor.execute(sel_query)
for linha in cursor:
    print(linha)

('Ivan', 'ivan@gmail.com.br', 'Java', 50)
('Denise', 'denise@gmail.com', 'Java', 45)
('Carlos', 'carlos@gmail.com', 'Python', 35)
('Joana', 'joana@gmail.com', 'Java', 24)
('Silvio', 'silvio@gmail.com', 'Dados', 67)

**Insert**

In [5]:
ins_query = "insert into inscricoes values ('Ivan', 'ivan@gmail.com.br','Java', 50)"
#ins_query = "insert into inscricoes (nome, email, curso) values ('Ivan', 'ivan@gmail.com.br','Java')
cursor.execute(ins_query)
# rollback
conn.commit()

**Insert via lista**

In [6]:
dados = [
    ('Denise', 'denise@gmail.com','Java',45),
    ('Carlos', 'carlos@gmail.com','Python',35),
    ('Joana', 'joana@gmail.com','Java',24),
    ('Silvio', 'silvio@gmail.com','Dados',67)
]

ins_query = "insert into inscricoes values (?,?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()
#

**Insert via arquivo**

In [ ]:
arquivo = "dados.txt"
for linhas in open(arquivo,'r'):
    registro = linhas.split(',')
    #print(registro)
    ins_query = "insert into inscricoes values (?,?,?,?)"
    cursor.execute(ins_query, registro)
conn.commit()

**Exclusão**

In [53]:
del_query = "delete from inscricoes"
cursor.execute(del_query)
conn.commit()

**Update**

In [47]:
upd_query = "update inscricoes set curso = 'Dados' where email = 'carlos@gmail.com'"
cursor.execute(upd_query)
conn.commit()
#

**SELECT COM MAIS RECURSOS**

In [ ]:
sel_query1 = "select * from inscricoes"
sel_query2 = "select nome, email, curso from inscricoes where curso = 'Java' or idade > 40"
cursor.execute(sel_query2)
for linha in cursor:
    print(linha)

In [17]:
sel_query1 = "select * from inscricoes"
cursor.execute(sel_query2)
#dados = cursor.fetchall() ##todos
#dados = cursor.fetchone() ##somente 1 por vez
dados = cursor.fetchmany(3) ##quantidade
for linha in dados:
    print(linha)

('Ivan', 'ivan@gmail.com.br', 'Java')
('Denise', 'denise@gmail.com', 'Java')
('Joana', 'joana@gmail.com', 'Java')

**Relatório STRING Formatada**

In [28]:
print("\nConsulta de Inscritos")
print("\nDados da Tabela Inscrições")
print("-" * 80)
#print("Nome\t\tEmail\t\tCurso\t\tIdade")
print("{:30}{:30}{:15}{:5}".format("Nome","Email","Curso","Idade"))
print("-" * 80)
sel_query = "select * from inscricoes"
cursor.execute(sel_query)
dados = cursor.fetchall()
for linha in dados:
    print("{:30}{:30}{:15}{:5}".format(linha[0],linha[1],linha[2],linha[3]))
print("=" * 80)
print("Foram encontrados {} registros".format(len(dados)))

Consulta de Inscritos

Dados da Tabela Inscrições
--------------------------------------------------------------------------------
Nome                          Email                         Curso          Idade
--------------------------------------------------------------------------------
================================================================================
Foram encontrados 0 registros

**Manipulação dos dados (delete / update)**

In [43]:
del_query = "delete from inscricoes where curso = 'Excel'"
cursor.execute(del_query)
conn.commit()

In [55]:
arquivo="dados_aleatorios.txt"
for linhas in open(arquivo,'r'):
    registro = linhas.split(',')
    #print(registro)
    ins_query = "insert into inscricoes values (?,?,?,?)"
    cursor.execute(ins_query, registro)
conn.commit()

In [56]:
sel_query = "select count(*) Total,curso from inscricoes group by curso order by Total desc "
cursor.execute(sel_query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

(21, 'Java')
(20, 'Python')
(20, 'Excel')
(20, 'Dados')
(20, 'BI')

In [62]:
sel_query = "select * from inscricoes"
cursor.execute(sel_query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

('Ana Silva', 'ana.silva@example.com', '1', 24)
('Bruno Costa', 'bruno.costa@example.com', '2', 31)
('Carla Souza', 'carla.souza@example.com', '3', 29)
('Daniel Lima', 'daniel.lima@example.com', '4', 45)
('Elisa Rodrigues', 'elisa.rodrigues@example.com', '5', 38)
('Fabio Pereira', 'fabio.pereira@example.com', '2', 22)
('Gabriela Alves', 'gabriela.alves@example.com', '1', 27)
('Henrique Gomes', 'henrique.gomes@example.com', '3', 35)
('Isabela Ferreira', 'isabela.ferreira@example.com', '4', 41)
('João Oliveira', 'joao.oliveira@example.com', '5', 50)
('Karina Mendes', 'karina.mendes@example.com', '1', 19)
('Lucas Ribeiro', 'lucas.ribeiro@example.com', '2', 33)
('Mariana Gomes', 'mariana.gomes@example.com', '3', 30)
('Natália Santos', 'natalia.santos@example.com', '4', 47)
('Otávio Barros', 'otavio.barros@example.com', '5', 28)
('Patrícia Cardoso', 'patricia.cardoso@example.com', '2', 26)
('Quintino Dias', 'quintino.dias@example.com', '1', 36)
('Rafael Teixeira', 'rafael.teixeira@example.com', '3', 44)
('Sofia Martins', 'sofia.martins@example.com', '4', 23)
('Tiago Freitas', 'tiago.freitas@example.com', '5', 37)
('Verônica Lopes', 'veronica.lopes@example.com', '1', 21)
('Wallace Almeida', 'wallace.almeida@example.com', '2', 34)
('Xuxa Nogueira', 'xuxa.nogueira@example.com', '3', 43)
('Yasmin Cunha', 'yasmin.cunha@example.com', '4', 32)
('Zeca Borges', 'zeca.borges@example.com', '5', 29)
('Alice Moreira', 'alice.moreira@example.com', '1', 25)
('Breno Castro', 'breno.castro@example.com', '2', 40)
('Cintia Melo', 'cintia.melo@example.com', '3', 38)
('Diego Teixeira', 'diego.teixeira@example.com', '4', 27)
('Emanuel Silva', 'emanuel.silva@example.com', '5', 22)
('Fabiana Costa', 'fabiana.costa@example.com', '2', 31)
('Gustavo Lima', 'gustavo.lima@example.com', '1', 26)
('Heloísa Rocha', 'heloisa.rocha@example.com', '3', 35)
('Igor Santos', 'igor.santos@example.com', '4', 44)
('Juliana Alves', 'juliana.alves@example.com', '5', 30)
('Kevin Pereira', 'kevin.pereira@example.com', '1', 28)
('Larissa Ribeiro', 'larissa.ribeiro@example.com', '2', 24)
('Marcelo Barros', 'marcelo.barros@example.com', '3', 39)
('Natasha Gomes', 'natasha.gomes@example.com', '4', 29)
('Orlando Freitas', 'orlando.freitas@example.com', '5', 41)
('Priscila Ferreira', 'priscila.ferreira@example.com', '2', 35)
('Renan Souza', 'renan.souza@example.com', '1', 33)
('Suelen Dias', 'suelen.dias@example.com', '3', 31)
('Tiago Lima', 'tiago.lima@example.com', '4', 37)
('Úrsula Martins', 'ursula.martins@example.com', '5', 26)
('Valéria Rocha', 'valeria.rocha@example.com', '1', 22)
('Wanderley Alves', 'wanderley.alves@example.com', '2', 44)
('Ximena Barros', 'ximena.barros@example.com', '3', 28)
('Yago Ribeiro', 'yago.ribeiro@example.com', '4', 36)
('Zélia Costa', 'zelia.costa@example.com', '5', 39)
('Adriana Pereira', 'adriana.pereira@example.com', '1', 27)
('Bruno Almeida', 'bruno.almeida@example.com', '2', 38)
('Carolina Moreira', 'carolina.moreira@example.com', '3', 32)
('Diego Martins', 'diego.martins@example.com', '4', 24)
('Eliane Gomes', 'eliane.gomes@example.com', '5', 50)
('Fábio Souza', 'fabio.souza@example.com', '2', 42)
('Giovana Castro', 'giovana.castro@example.com', '1', 23)
('Hugo Oliveira', 'hugo.oliveira@example.com', '3', 26)
('Isadora Teixeira', 'isadora.teixeira@example.com', '4', 33)
('João Paulo Santos', 'joao.santos@example.com', '5', 31)
('Karen Lima', 'karen.lima@example.com', '1', 39)
('Leonardo Freitas', 'leonardo.freitas@example.com', '2', 30)
('Márcia Cardoso', 'marcia.cardoso@example.com', '3', 44)
('Nicolas Dias', 'nicolas.dias@example.com', '4', 29)
('Olga Rocha', 'olga.rocha@example.com', '5', 38)
('Paulo Almeida', 'paulo.almeida@example.com', '2', 25)
('Renata Barros', 'renata.barros@example.com', '1', 27)
('Samuel Ribeiro', 'samuel.ribeiro@example.com', '3', 35)
('Tatiana Costa', 'tatiana.costa@example.com', '4', 40)
('Ulisses Martins', 'ulisses.martins@example.com', '5', 23)
('Vanessa Gomes', 'vanessa.gomes@example.com', '1', 34)
('Washington Alves', 'washington.alves@example.com', '2', 28)
('Xander Silva', 'xander.silva@example.com', '3', 31)
('Yara Oliveira', 'yara.oliveira@example.com', '4', 45)
('Zuleide Souza', 'zuleide.souza@example.com', '5', 37)
('André Martins', 'andre.martins@example.com', '1', 44)
('Bárbara Santos', 'barbara.santos@example.com', '2', 29)
('Caio Pereira', 'caio.pereira@example.com', '3', 41)
('Diana Teixeira', 'diana.teixeira@example.com', '4', 22)
('Eduardo Castro', 'eduardo.castro@example.com', '5', 36)
('Fernanda Lima', 'fernanda.lima@example.com', '2', 30)
('Gisele Rocha', 'gisele.rocha@example.com', '1', 26)
('Henrique Souza', 'henrique.souza@example.com', '3', 39)
('Isabel Almeida', 'isabel.almeida@example.com', '4', 31)
('Janaina Gomes', 'janaina.gomes@example.com', '5', 27)
('Kelvin Oliveira', 'kelvin.oliveira@example.com', '1', 23)
('Lívia Ribeiro', 'livia.ribeiro@example.com', '2', 35)
('Mariana Ferreira', 'mariana.ferreira@example.com', '3', 28)
('Nathan Santos', 'nathan.santos@example.com', '4', 42)
('Olivia Dias', 'olivia.dias@example.com', '5', 33)
('Paula Lima', 'paula.lima@example.com', '1', 37)
('Quirino Gomes', 'quirino.gomes@example.com', '2', 44)
('Rita Costa', 'rita.costa@example.com', '3', 25)
('Samuel Barros', 'samuel.barros@example.com', '4', 29)
('Tamara Silva', 'tamara.silva@example.com', '5', 21)
('Ubirajara Pereira', 'ubirajara.pereira@example.com', '1', 34)
('Vânia Souza', 'vania.souza@example.com', '2', 38)
('Wesley Almeida', 'wesley.almeida@example.com', '3', 31)
('Xuxa Dias', 'xuxa.dias@example.com', '4', 27)
('Ygor Oliveira', 'ygor.oliveira@example.com', '5', 40)
('Zara Gomes', 'zara.gomes@example.com', '1', 22)

In [47]:
upd_query = "update inscricoes set idade = 65 where email = 'ygor.oliveira@example.com'"
cursor.execute(upd_query)
conn.commit()

**Modelagem com Join**

In [ ]:
query = "create table cursos (idcurso TEXT NOT NULL, nomecurso TEXT NOT NULL, instrutor TEXT NOT NULL)"
cursor.execute(query)

In [51]:
dados = [
  ('1','Java','Daniel'),
  ('2','Python', 'Ivan'),
  ('3','Dados','Marco'),
  ('4','Excel','Rogerio'),
  ('5','BI','Carlos')
]

ins_query = "insert into cursos values (?,?,?)"
cursor.executemany(ins_query, dados)
conn.commit()

In [61]:
sel_query = "select * from cursos"
cursor.execute(sel_query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

('1', 'Java', 'Daniel')
('2', 'Python', 'Ivan')
('3', 'Dados', 'Marco')
('4', 'Excel', 'Rogerio')
('5', 'BI', 'Carlos')

In [60]:
# Alterar o campo curso da tabela inscricoes com base na tabela cursos

upd_query = "update inscricoes set curso = ("
upd_query = upd_query + "select idcurso from cursos c where c.nomecurso = inscricoes.curso)"
upd_query = upd_query + "where exists (select 1 from cursos c where c.nomecurso = inscricoes.curso)"

cursor.execute(upd_query)
conn.commit()

In [ ]:
query = "select i.nome, i.email, i.idade, c.nomecurso,c.instrutor  from inscricoes i join cursos c on i.curso = c.idcurso"
#query = query + " where c.nomecurso = 'Java' order by i.nome"
cursor.execute(query)
dados = cursor.fetchall()
for linha in dados:
    print(linha)

In [ ]:
import pandas as pd

df_dados = pd.DataFrame(dados,columns=['nome','email','idade','curso','instrutor'])
df_dados